/* this is a custom CSS Stylesheet */
body{
	padding: 10px;
	padding-top: 20px;
	background-attachment: scroll;
	background-image: url(../img/wood_6.png);
	background-repeat: repeat;
}
.headerphoto{
  align:center;
  max-width:100%;
  max-height:5em;
}
.userProfile{text-align:center;}
.8col{width:12.5%;}
.btnsearch{
	background-image: url(../img/search_sm.png);
	background-repeat: no-repeat;
	background-position: -0.2em;
}
.btnuser{
	background-image: url(../img/user_sm.png);
	background-repeat: no-repeat;
	background-position: -0.2em;
}
.margin{margin:10px;}
.testcolor{background:#ccc;}
.center{text-align:center;}
.inline{display: inline-block;}
.submitbtn{
  float:right;
  width:5em;
  }
.inptwd{width:20em;}
.imgfull{width:100%;}
.alrt{text-align:right;}
.member{
  border-radius:1em;
  background:#008;
}
.panel{
	padding: 10px;
	border-radius: 1em;
}
#supertubosimage{
  border-radius:1em;
  margin:1em;
  padding:1em;
}
